
    <header class="header">
        <div class="header-top">
            <div class="wrapper header-top-items">
                <div class="header-top-items-item">
                    <div class="header-top-items-item-email">Электронная почта:  info@promimport</div>
                    <div class="header-top-items-item-phone">+7 (495) 108-02-08</div>
                </div>
                <div class="header-top-items-item">
                    <button class="btn-1">Оставить заявку</button>
                </div>  
            </div>
        </div>
        <div class="header-bottom">
            <div class="wrapper header-bottom-items">
                <div class="header-bottom-items-item">
                    <img src="static/img/content/logo.png" alt="">
                </div>
                <div class="header-bottom-items-item">
                    <div class="header-bottom-items-item-prod">
                        Продукция
                        <div class="header-bottom-items-item-prod-drop">
                            <a href="" class="header-bottom-items-item-prod-drop-item">Турбины</a>
                            <a href="" class="header-bottom-items-item-prod-drop-item">Компрессоры</a>
                            <a href="" class="header-bottom-items-item-prod-drop-item">Редукторы</a>
                            <a href="" class="header-bottom-items-item-prod-drop-item">Диагностика и мониторинг</a>
                            <a href="" class="header-bottom-items-item-prod-drop-item">Насосы</a>
                            <a href="" class="header-bottom-items-item-prod-drop-item">Запасные части</a>
                        </div>
                    </div>
                    <a href="" class="header-bottom-items-item-usl">Услуги</a>
                    <a href="" class="header-bottom-items-item-a">Бренды</a>
                    <a href="" class="header-bottom-items-item-a">Компания</a>
                    <a href="" class="header-bottom-items-item-a">Контакты</a>
                    <a href="" class="header-bottom-items-item-a">Новости</a>
                    <div class="header-bottom-items-item-search">
                        <img src="static/img/content/search.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        </header>