<div class="section" id="section1">
    <header class="header">
        <div class="header-top">
            <div class="wrapper header-top-items">
                <div class="header-top-items-item">
                    <div class="header-top-items-item-email">Электронная почта:  info@promimport</div>
                    <div class="header-top-items-item-phone">+7 (495) 108-02-08</div>
                </div>
                <div class="header-top-items-item">
                    <button class="btn-1">Оставить заявку</button>
                </div>  
            </div>
        </div>
        <div class="header-bottom">
            <div class="wrapper header-bottom-items">
                <div class="header-bottom-items-item">
                    <img src="static/img/content/logo.png" alt="">
                </div>
                <div class="header-bottom-items-item">
                    <div class="header-bottom-items-item-prod">
                        Продукция
                        <div class="header-bottom-items-item-prod-drop">
                            <a href="" class="header-bottom-items-item-prod-drop-item">Турбины</a>
                            <a href="" class="header-bottom-items-item-prod-drop-item">Компрессоры</a>
                            <a href="" class="header-bottom-items-item-prod-drop-item">Редукторы</a>
                            <a href="" class="header-bottom-items-item-prod-drop-item">Диагностика и мониторинг</a>
                            <a href="" class="header-bottom-items-item-prod-drop-item">Насосы</a>
                            <a href="" class="header-bottom-items-item-prod-drop-item">Запасные части</a>
                        </div>
                    </div>
                    <a href="" class="header-bottom-items-item-usl">Услуги</a>
                    <a href="" class="header-bottom-items-item-a">Бренды</a>
                    <a href="" class="header-bottom-items-item-a">Компания</a>
                    <a href="" class="header-bottom-items-item-a">Контакты</a>
                    <a href="" class="header-bottom-items-item-a">Новости</a>
                    <div class="header-bottom-items-item-search">
                        <img src="static/img/content/search.png" alt="">
                        <div class="header-bottom-items-item-search-active">
                            <input type="text" placeholder="Что вас интересует?">
                            <button class="header-bottom-items-item-search-active-btn">
                                Найти
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </header>
    <div class="rak">
    <div class="rak-banner">
    <img src="static/img/content/banner.png" alt="">
    </div>
    <div class="rak-turb">
    <img src="static/img/content/turb.png" alt="">
    <div class="rak-turb-plus">
        <div class="rak-turb-plus-item">
            {{Icon iconName="plus"}}
        </div>
        <div class="rak-turb-plus-item">
            {{Icon iconName="plus"}}
        </div>
        <div class="rak-turb-plus-item">
            {{Icon iconName="plus"}}
        </div>
        <div class="rak-turb-plus-item">
            {{Icon iconName="plus"}}
        </div>
        <div class="rak-turb-plus-item">
            {{Icon iconName="plus"}}
        </div>
        <div class="rak-turb-plus-item">
            {{Icon iconName="plus"}}
        </div>
        <div class="rak-turb-plus-item">
            {{Icon iconName="plus"}}
        </div>
        <div class="rak-turb-plus-text">
            <div class="rak-turb-plus-text-title">
                Топливные системы 1
            </div>
            <div class="rak-turb-plus-text-t">
                <div class="rak-turb-plus-text-t-item">Топливные форсунки</div>
                <div class="rak-turb-plus-text-t-item">Вкладыши подшипников</div>
                <div class="rak-turb-plus-text-t-item">Обратные клапаны</div>
                <div class="rak-turb-plus-text-t-item">Топливные насосы</div>
                <div class="rak-turb-plus-text-t-item">Делители потока</div>
                <div class="rak-turb-plus-text-t-item">Корпуса подшипников</div>
            </div>
        </div>
        <div class="rak-turb-plus-text">
            <div class="rak-turb-plus-text-title">
                Топливные системы 2
            </div>
            <div class="rak-turb-plus-text-t">
                <div class="rak-turb-plus-text-t-item">Топливные форсунки</div>
                <div class="rak-turb-plus-text-t-item">Вкладыши подшипников</div>
                <div class="rak-turb-plus-text-t-item">Обратные клапаны</div>
                <div class="rak-turb-plus-text-t-item">Топливные насосы</div>
                <div class="rak-turb-plus-text-t-item">Делители потока</div>
                <div class="rak-turb-plus-text-t-item">Корпуса подшипников</div>
            </div>
        </div>
        <div class="rak-turb-plus-text">
            <div class="rak-turb-plus-text-title">
                Топливные системы 3
            </div>
            <div class="rak-turb-plus-text-t">
                <div class="rak-turb-plus-text-t-item">Топливные форсунки</div>
                <div class="rak-turb-plus-text-t-item">Вкладыши подшипников</div>
                <div class="rak-turb-plus-text-t-item">Обратные клапаны</div>
                <div class="rak-turb-plus-text-t-item">Топливные насосы</div>
                <div class="rak-turb-plus-text-t-item">Делители потока</div>
                <div class="rak-turb-plus-text-t-item">Корпуса подшипников</div>
            </div>
        </div>
        <div class="rak-turb-plus-text">
            <div class="rak-turb-plus-text-title">
                Топливные системы 4
            </div>
            <div class="rak-turb-plus-text-t">
                <div class="rak-turb-plus-text-t-item">Топливные форсунки</div>
                <div class="rak-turb-plus-text-t-item">Вкладыши подшипников</div>
                <div class="rak-turb-plus-text-t-item">Обратные клапаны</div>
                <div class="rak-turb-plus-text-t-item">Топливные насосы</div>
                <div class="rak-turb-plus-text-t-item">Делители потока</div>
                <div class="rak-turb-plus-text-t-item">Корпуса подшипников</div>
            </div>
        </div>
        <div class="rak-turb-plus-text">
            <div class="rak-turb-plus-text-title">
                Топливные системы 5
            </div>
            <div class="rak-turb-plus-text-t">
                <div class="rak-turb-plus-text-t-item">Топливные форсунки</div>
                <div class="rak-turb-plus-text-t-item">Вкладыши подшипников</div>
                <div class="rak-turb-plus-text-t-item">Обратные клапаны</div>
                <div class="rak-turb-plus-text-t-item">Топливные насосы</div>
                <div class="rak-turb-plus-text-t-item">Делители потока</div>
                <div class="rak-turb-plus-text-t-item">Корпуса подшипников</div>
            </div>
        </div>
        <div class="rak-turb-plus-text">
            <div class="rak-turb-plus-text-title">
                Топливные системы 6
            </div>
            <div class="rak-turb-plus-text-t">
                <div class="rak-turb-plus-text-t-item">Топливные форсунки</div>
                <div class="rak-turb-plus-text-t-item">Вкладыши подшипников</div>
                <div class="rak-turb-plus-text-t-item">Обратные клапаны</div>
                <div class="rak-turb-plus-text-t-item">Топливные насосы</div>
                <div class="rak-turb-plus-text-t-item">Делители потока</div>
                <div class="rak-turb-plus-text-t-item">Корпуса подшипников</div>
            </div>
        </div>
        <div class="rak-turb-plus-text">
            <div class="rak-turb-plus-text-title">
                Топливные системы 7
            </div>
            <div class="rak-turb-plus-text-t">
                <div class="rak-turb-plus-text-t-item">Топливные форсунки</div>
                <div class="rak-turb-plus-text-t-item">Вкладыши подшипников</div>
                <div class="rak-turb-plus-text-t-item">Обратные клапаны</div>
                <div class="rak-turb-plus-text-t-item">Топливные насосы</div>
                <div class="rak-turb-plus-text-t-item">Делители потока</div>
                <div class="rak-turb-plus-text-t-item">Корпуса подшипников</div>
            </div>
        </div>
    </div>
    </div>
    <div class="wrapper rak-container">
    <div class="rak-container-left">    
        <h1>
            Качественные детали и оборудование
            из-за которых не встанет завод
        </h1>
        <div class="rak-container-left-ctg">
            <div class="rak-container-left-ctg-item">
                {{Icon iconName="pred"}}
                <div class="rak-container-left-ctg-item-text">Представительство</div>
                <div class="rak-container-left-ctg-item-number">07</div>
            </div>
            <div class="rak-container-left-ctg-item">
                {{Icon iconName="op"}}
                <div class="rak-container-left-ctg-item-text">Опыт работы</div>
                <div class="rak-container-left-ctg-item-number">10 лет</div>
            </div>
            <div class="rak-container-left-ctg-item">
                {{Icon iconName="reg"}}
                <div class="rak-container-left-ctg-item-text">Регионов РФ</div>
                <div class="rak-container-left-ctg-item-number">85</div>
            </div>
            <div class="rak-container-left-ctg-item">
                {{Icon iconName="cup"}}
                <div class="rak-container-left-ctg-item-text">Лучший новый
                    <br> партнер BHGE 2018</div>
            </div>
        </div>
        <button class="btn-2">Смотреть продукцию</button>
    </div>
    </div>
    </div>
</div>
<div class="section" id="section2">
    <div class="wrapper prod">
    <h2>Продукция</h2>
    <div class="prod-container">
    <div class="prod-container-item">
        <div class="prod-container-item-title">Газовые и паровые турбины</div>
        <div class="prod-container-item-text">Корпорация Промимпорт-BHGE является крупнейшим в мире производителем оппозитных поршневых компрессоров. Наши компрессоры используются в энергетической промышленности для добычи, переработки, транспортировки</div>
    </div>
    <div class="prod-container-item">
        <div class="prod-container-item-title">Компрессоры</div>
        <div class="prod-container-item-text">Корпорация Промимпорт-BHGE является крупнейшим в мире производителем оппозитных поршневых компрессоров. Наши компрессоры используются в энергетической промышленности для добычи, переработки, транспортировки</div>
    </div>
    <div class="prod-container-item">
        <div class="prod-container-item-title">Редукторы</div>
        <div class="prod-container-item-text">• Замена устаревшего оборудования любого производителя на новое <br>
            • Модернизацию с использованием части элементов устаревшего оборудования <br>
            • Модернизацию систем управления</div>
    </div>
    <div class="prod-container-item">
        <div class="prod-container-item-title">Диагностика и мониторинг</div>
        <div class="prod-container-item-text">Узнайте больше об оригинальных запасных частях и путях вз аимодействия с Промимпорт-BHGE через поддержку, обучение и нашу всемирную сеть сертифицированных дистрибьюторов.</div>
    </div>
    <div class="prod-container-item">
        <div class="prod-container-item-title">Запасные части</div>
        <div class="prod-container-item-text">Как признанный мировой производитель поршневых компрессоров, корпорация Промимпорт-BHGE соответствует промышленным стандартам посредством высококачественного проектирования и производства</div>
    </div>
    </div>
    </div>
</div>
<div class="section" id="section3">
    <div class="usl">
    <img src="static/img/content/usl-right.png" alt="">
    <div class="wrapper usl-container">
    <h2>Услуги</h2>
    <div class="usl-container-items">
        <div class="usl-container-items-item">
            <div class="usl-container-items-item-top">
                Ремонт и модернизация
                <br> оборудования BHGE
            </div>
            <div class="usl-container-items-item-bottom">
                <div class="usl-container-items-item-bottom-text">
                    Узнайте больше об оригинальных запасных частях и путях взаимодействия с Промимпорт-BHGE через поддержку, обучение и нашу всемирную сеть сертифицированных дистрибьюторов.
                    <br>
                    <br>
                    • Замена устаревшего оборудования любого производителя на новое
                    <br>
                    • Модернизацию с использованием части элементов устаревшего оборудования
                    <br>
                    • Модернизацию систем управления
                </div>
            </div>
        </div>
        <div class="usl-container-items-item">
            <div class="usl-container-items-item-top">
                Поставка
                <br> запчастей
            </div>
            <div class="usl-container-items-item-bottom">
                <div class="usl-container-items-item-bottom-text">
                    Как признанный мировой производитель поршневых компрессоров, корпорация Промимпорт-BHGE соответствует промышленным стандартам посредством высококачественного...
                </div>
            </div>
        </div>
        <div class="usl-container-items-item">
            <div class="usl-container-items-item-top">
                Поставка нового
                <br> оборудования
            </div>
            <div class="usl-container-items-item-bottom">
                <div class="usl-container-items-item-bottom-text">
                    Узнайте больше об оригинальных запасных частях и путях взаимодействия с Промимпорт-BHGE через поддержку, обучение и нашу всемирную сеть сертифицированных дистрибьюторов.
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
<div class="section" id="section4">
    <div class="best">
    <div class="wrapper best-container">
    <img src="static/img/content/best.png" alt="">
    <h2>Лучший новый партнёр BHGE 2018</h2>
    <div class="best-container-text">Компания Промимпорт является официальным парнтёром BHGE.
        <br> <br>
        Как признанный мировой производитель поршневых компрессоров, корпорация Промимпорт-BHGE соответствует промышленным стандартам посредством высококачественного проектирования и производства, передовых промышленных исследований и разработок, а так же, не имеющей себе равных, поддержки конечного потребителя.</div>
    <div class="best-container-bottom">В 2018 году мы получили звание лучшего партнёра BHGE</div>
    </div>
    </div>
</div>
<div class="section" id="section5">
    <div class="wrapper work">
    <h2>Более 746 выполненных проектов</h2>
    <div class="work-swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper-slide-right">
                <img src="static/img/content/slide.png" alt="">
            </div>
            <div class="swiper-slide-left">
                <div class="swiper-slide-left-title">Заказчик: ОАО “Томскнефть”, Россия</div>
                <div class="swiper-slide-left-container">
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Модернизацию с использованиемчасти элементов устаревшего оборудования</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Решение</div>
                    <div class="swiper-slide-left-container-item-text">Проведение планового капитального обслуживания газогенератора Rolls-Royce по достижении наработки в 24 000 часов в 2017 г. на ремонтной базе</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Задача</div>
                    <div class="swiper-slide-left-container-item-text">Модернизация двух систем управления для газогенераторов Rolls-Royce 2013 гг. Техническая поддержка. Организация обучения специалистов по работе и эксплуатации газогенераторов</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Поршневой компрессор SHMB <br> Насосный агрегат Lufkin Gen 2</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Срок реалезации проекта <br>
                        с момента заявки</div>
                    <div class="swiper-slide-left-container-item-text">24 Рабочих дня</div>
                </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-right">
                <img src="static/img/content/slide.png" alt="">
            </div>
            <div class="swiper-slide-left">
                <div class="swiper-slide-left-title">Заказчик: ОАО “Томскнефть”, Россия</div>
                <div class="swiper-slide-left-container">
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Модернизацию с использованиемчасти элементов устаревшего оборудования</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Решение</div>
                    <div class="swiper-slide-left-container-item-text">Проведение планового капитального обслуживания газогенератора Rolls-Royce по достижении наработки в 24 000 часов в 2017 г. на ремонтной базе</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Задача</div>
                    <div class="swiper-slide-left-container-item-text">Модернизация двух систем управления для газогенераторов Rolls-Royce 2013 гг. Техническая поддержка. Организация обучения специалистов по работе и эксплуатации газогенераторов</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Поршневой компрессор SHMB <br> Насосный агрегат Lufkin Gen 2</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Срок реалезации проекта <br>
                        с момента заявки</div>
                    <div class="swiper-slide-left-container-item-text">24 Рабочих дня</div>
                </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-right">
                <img src="static/img/content/slide.png" alt="">
            </div>
            <div class="swiper-slide-left">
                <div class="swiper-slide-left-title">Заказчик: ОАО “Томскнефть”, Россия</div>
                <div class="swiper-slide-left-container">
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Модернизацию с использованиемчасти элементов устаревшего оборудования</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Решение</div>
                    <div class="swiper-slide-left-container-item-text">Проведение планового капитального обслуживания газогенератора Rolls-Royce по достижении наработки в 24 000 часов в 2017 г. на ремонтной базе</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Задача</div>
                    <div class="swiper-slide-left-container-item-text">Модернизация двух систем управления для газогенераторов Rolls-Royce 2013 гг. Техническая поддержка. Организация обучения специалистов по работе и эксплуатации газогенераторов</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Поршневой компрессор SHMB <br> Насосный агрегат Lufkin Gen 2</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Срок реалезации проекта <br>
                        с момента заявки</div>
                    <div class="swiper-slide-left-container-item-text">24 Рабочих дня</div>
                </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-right">
                <img src="static/img/content/slide.png" alt="">
            </div>
            <div class="swiper-slide-left">
                <div class="swiper-slide-left-title">Заказчик: ОАО “Томскнефть”, Россия</div>
                <div class="swiper-slide-left-container">
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Модернизацию с использованиемчасти элементов устаревшего оборудования</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Решение</div>
                    <div class="swiper-slide-left-container-item-text">Проведение планового капитального обслуживания газогенератора Rolls-Royce по достижении наработки в 24 000 часов в 2017 г. на ремонтной базе</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Задача</div>
                    <div class="swiper-slide-left-container-item-text">Модернизация двух систем управления для газогенераторов Rolls-Royce 2013 гг. Техническая поддержка. Организация обучения специалистов по работе и эксплуатации газогенераторов</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Поршневой компрессор SHMB <br> Насосный агрегат Lufkin Gen 2</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Срок реалезации проекта <br>
                        с момента заявки</div>
                    <div class="swiper-slide-left-container-item-text">24 Рабочих дня</div>
                </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-right">
                <img src="static/img/content/slide.png" alt="">
            </div>
            <div class="swiper-slide-left">
                <div class="swiper-slide-left-title">Заказчик: ОАО “Томскнефть”, Россия</div>
                <div class="swiper-slide-left-container">
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Модернизацию с использованиемчасти элементов устаревшего оборудования</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Решение</div>
                    <div class="swiper-slide-left-container-item-text">Проведение планового капитального обслуживания газогенератора Rolls-Royce по достижении наработки в 24 000 часов в 2017 г. на ремонтной базе</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Задача</div>
                    <div class="swiper-slide-left-container-item-text">Модернизация двух систем управления для газогенераторов Rolls-Royce 2013 гг. Техническая поддержка. Организация обучения специалистов по работе и эксплуатации газогенераторов</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Поршневой компрессор SHMB <br> Насосный агрегат Lufkin Gen 2</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Срок реалезации проекта <br>
                        с момента заявки</div>
                    <div class="swiper-slide-left-container-item-text">24 Рабочих дня</div>
                </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-right">
                <img src="static/img/content/slide.png" alt="">
            </div>
            <div class="swiper-slide-left">
                <div class="swiper-slide-left-title">Заказчик: ОАО “Томскнефть”, Россия</div>
                <div class="swiper-slide-left-container">
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Модернизацию с использованиемчасти элементов устаревшего оборудования</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Решение</div>
                    <div class="swiper-slide-left-container-item-text">Проведение планового капитального обслуживания газогенератора Rolls-Royce по достижении наработки в 24 000 часов в 2017 г. на ремонтной базе</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Задача</div>
                    <div class="swiper-slide-left-container-item-text">Модернизация двух систем управления для газогенераторов Rolls-Royce 2013 гг. Техническая поддержка. Организация обучения специалистов по работе и эксплуатации газогенераторов</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Вид услуги</div>
                    <div class="swiper-slide-left-container-item-text">Поршневой компрессор SHMB <br> Насосный агрегат Lufkin Gen 2</div>
                </div>
                <div class="swiper-slide-left-container-item">
                    <div class="swiper-slide-left-container-item-title">Срок реалезации проекта <br>
                        с момента заявки</div>
                    <div class="swiper-slide-left-container-item-text">24 Рабочих дня</div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next">
        {{Icon iconName="next"}}
    </div>
    <div class="swiper-button-prev">
        {{Icon iconName="next"}}
    </div>
    </div>
    </div>
</div>
<div class="section" id="section6">
    <div class="wrapper ser">
    <h2>Наши сертификаты</h2>
    <div class="ser-container">
    <div class="ser-container-left">
        <img src="static/img/content/ser.png" alt="">
    </div>
    <div class="ser-container-right">
        <div class="ser-container-right-text">Корпорация Промимпорт-BHGE является крупнейшим в мире производителем оппозитных поршневых компрессоров. Наши компрессоры используются в энергетической промышленности для добычи, переработки, транспортировки, хранения и распределения природного газа от устья скважины до конечного потребителя. Промимпорт-BHGE также поставляет специально разработанные под стандарт API-618 поршневые компрессоры для нефтехимической промышленности.</div>
        <div class="ser-container-right-items">
            <div class="ser-container-right-items-item">
                <img src="static/img/content/ser1.png" alt="">
            </div>
            <div class="ser-container-right-items-item">
                <img src="static/img/content/ser2.png" alt="">
            </div>
            <div class="ser-container-right-items-item">
                <img src="static/img/content/ser3.png" alt="">
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
<div class="section" id="section7">
    <div class="otz">
    <div class="wrapper otz-container">
    <h2>Объективное мнение заказчиков <br> о нашей работе</h2>
    <div class="otz-container-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-slide-ser">
                <img src="static/img/content/ser-big.png" alt="">
                </div>
                <div class="swiper-slide-idk">
                <img src="static/img/content/idk.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-ser">
                <img src="static/img/content/ser-big.png" alt="">
                </div>
                <div class="swiper-slide-idk">
                <img src="static/img/content/idk.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-ser">
                <img src="static/img/content/ser-big.png" alt="">
                </div>
                <div class="swiper-slide-idk">
                <img src="static/img/content/idk.png" alt="">
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next">
            {{Icon iconName="next-w"}}
        </div>
        <div class="swiper-button-prev">
            {{Icon iconName="next-w"}}
        </div>
        </div>
    <div class="otz-container-bottom">
        <div class="otz-container-bottom-left">
            <img src="static/img/content/gaz.png" alt="">
            <div class="otz-container-bottom-left-text">
                <span>ТОО «Siemens»</span>
                ПАО «Газпром нефть»
            </div>
        </div>
        <div class="otz-container-bottom-right">Качественный товар! Своевременная работа менеджеров. Все в сроки выполнили, не подвели.
            Плюс к тому же оказывают техническую консультацию и подобрали необходимый товар для моей задачи! крутооо! Работа менеджеров. Все в сроки выполнили, не подвели. Качественный товар! Плюс к тому же оказывают техническую консультацию и подобрали необходимый товар.</div>
    </div>
    </div>
    </div>
</div>
<div class="section" id="section8">
    <div class="wrapper part">
    <div class="part-title">
    <h2>Наши партнёры</h2>
    <div class="part-title-text">Корпорация Промимпорт-BHGE является крупнейшим в мире производителем оппозитных поршневых компрессоров. Наши компрессоры используются в энергетической промышленности для добычи, переработки, транспортировки, хранения и распределения природного газа от устья скважины до конечного потребителя. </div>
    </div>
    <div class="part-items">
    <div class="part-items-item">
        <img src="static/img/content/p1.png" alt="">
    </div>
    <div class="part-items-item">
        <img src="static/img/content/p2.png" alt="">
    </div>
    <div class="part-items-item">
        <img src="static/img/content/p3.png" alt="">
    </div>
    <div class="part-items-item">
        <img src="static/img/content/p4.png" alt="">
    </div>
    <div class="part-items-item">
        <img src="static/img/content/p5.png" alt="">
    </div>
    <div class="part-items-item">
        <img src="static/img/content/p6.png" alt="">
    </div>
    <div class="part-items-item">
        <img src="static/img/content/p7.png" alt="">
    </div>
    <div class="part-items-item">
        <img src="static/img/content/p8.png" alt="">
    </div>
    <div class="part-items-item">
        <img src="static/img/content/p9.png" alt="">
    </div>
    <div class="part-items-item">
        <img src="static/img/content/p10.png" alt="">
    </div>
    <div class="part-items-item">
        <img src="static/img/content/p11.png" alt="">
    </div>
    <div class="part-items-item">
        <img src="static/img/content/p12.png" alt="">
    </div>
    </div>
    </div>
</div>
<div class="section" id="section9">
    <div class="cont">
    <div class="cont-container">
    <form class="cont-container-form">
        <h4>Свяжитесь с нами  любым <br>
            удобным способом</h4>
        <div class="field-item">
            <input type="text" name="name" placeholder="Ваше имя">
        </div>
        <div class="field-item">
            <input type="text" name="email" placeholder="Электронная почта">
        </div>
        <div class="field-item">
            <input type="text" name="number" placeholder="Номер телефона">
        </div>
        <textarea placeholder="Ваш вопрос"></textarea>
            <label class="checkH" for="checkbox">
                <input type="checkbox" name="checkbox" id="checkbox">
                <div class="check">
                    <img src="static/img/content/check.png" alt="">
                </div>
                Согласен с политикой <br>
                    конфиденциальности
            </label>
        <button class="btn-1">Задать вопрос</button>
    </form>
    <div class="cont-container-bottom">
        <div class="wrapper cont-container-bottom-items">
            <div class="cont-container-bottom-items-item">
                <div class="cont-container-bottom-items-item-title">Адрес</div>
                <div class="cont-container-bottom-items-item-text">1127452, г. Москва, Балаклавский <br> пр-т, дом 28Б, стр. 1</div>
            </div>
            <div class="cont-container-bottom-items-item">
                <div class="cont-container-bottom-items-item-title">Телефон</div>
                <div class="cont-container-bottom-items-item-text">+7 (495) 108-02-08</div>
            </div>
            <div class="cont-container-bottom-items-item">
                <div class="cont-container-bottom-items-item-title">Почта</div>
                <div class="cont-container-bottom-items-item-text">info@promimport</div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
<div class="section fp-auto-height"  id="section10">
    
    {{> popup/popup}}
    {{> scripts/scripts}}

    <footer class="footer">
        <div class="wrapper footer-container">
            <div class="footer-container-top">
                <div class="footer-container-top-left">
                    <img src="static/img/content/footer.png" alt="">
                    <div class="footer-container-top-left-a">
                        <a class="btn-3" href="">
                            {{Icon iconName="OK"}}
                        </a>
                        <a class="btn-3" href="">
                            {{Icon iconName="FB"}}
                        </a>
                        <a class="btn-3" href="">
                            {{Icon iconName="INST"}}
                        </a>
                        <a class="btn-3" href="">
                            {{Icon iconName="TG"}}
                        </a>
                    </div>
                    <div class="footer-container-top-left-text">
                        1127452, г. Москва,Балаклавский <br> пр-т, дом 28Б, стр. 1 <br><br>
                        info@promimport
                    </div>
                </div>
                <div class="footer-container-top-right">
                    <div class="footer-container-top-right-item">
                        <div class="footer-container-top-right-item-title">Оборудование</div>
                        <a href="" class="footer-container-top-right-item-li">Компрессоры</a>
                        <a href="" class="footer-container-top-right-item-li">Газовые турбины</a>
                        <a href="" class="footer-container-top-right-item-li">Насосы</a>
                        <a href="" class="footer-container-top-right-item-li">Редукторы</a>
                        <a href="" class="footer-container-top-right-item-li">Диагностика и мониторинг</a>
                    </div>
                    <div class="footer-container-top-right-item">
                        <div class="footer-container-top-right-item-title">Услуги</div>
                        <a href="" class="footer-container-top-right-item-li">Поставка нового оборудования BHGE</a>
                        <a href="" class="footer-container-top-right-item-li">Подбор оборудования</a>
                        <a href="" class="footer-container-top-right-item-li">Модернизация оборудования</a>
                        <a href="" class="footer-container-top-right-item-li">Сервисное обслуживание и поставка ЗИП оборудования BHG</a>
                    </div>
                    <div class="footer-container-top-right-item">
                        <div class="footer-container-top-right-item-title">+7 (495) 108-02-08</div>
                        <a href="" class="footer-container-top-right-item-li">Запасные части</a>
                        <a href="" class="footer-container-top-right-item-li">О компании</a>
                        <a href="" class="footer-container-top-right-item-li">Новости</a>
                        <a href="" class="footer-container-top-right-item-li">Вакансии</a>
                        <a href="" class="footer-container-top-right-item-li">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="footer-container-bottom">
                Политика конфиденциальнсоти      © 2019 Промимпорт-BHGE
            </div>
        </div>
    </footer>
</div>